body {
    background-color: black;
    margin: 0;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


/* Header st */

.header {}

.wrapper {
    max-width: 1330px;
    margin: 0 auto;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}

.header__nav {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
}

.header__link {
    display: flex;
    flex-wrap: wrap;
    color: white;
}

.header__NoTab-pic {
    display: flex;
    margin-left: 125px;
    margin-top: -70px;
}

.header__link:hover,
.header__link:focus,
.header__link:active {
    opacity: .98;
}


/* Header end */


/* intro st */

.intro {
    height: 100vh;
    padding-top: 275px;
}

.intro__title {
    max-width: 643px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 70px;
    color: white;
    margin-bottom: 129px;
}

.intro__subtitle {
    max-width: 380px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: white;
    margin-bottom: 215px;
    margin-left: 119px;
}

.intro__bottom {
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 75px;
    display: flex;
}

.intro_subtitle-pic {
    margin-left: -139px;
    margin-bottom: 55px;
    position: absolute;
    left: 64.1%;
    right: 12.79%;
    top: 1.39%;
    bottom: 92.42%;
    display: flex;
    align-items: flex-end;
}

.intro__phone-pic {
    display: flex;
    position: absolute;
    left: 60.1%;
    right: 10.79%;
    top: -2.39%;
    bottom: 92.42%;
}

.phone__vector {
    max-width: 283px;
    position: absolute;
    width: 662.63px;
    height: 783.03px;
    left: 1300.35px;
    top: -150px;
    background: rgba(250, 0, 255, 0.2);
    filter: blur(250px);
    transform: rotate(-105.26deg);
}

.intro__links {
    position: absolute;
    width: 376px;
    height: 51.33px;
    left: 1270px;
    top: 910px;
}


/* intro end */

.vision {
    height: 100vh;
    padding-top: 275px;
}

.vision__email {
    padding-top: 275px;
    position: absolute;
    width: 503px;
    height: 312px;
    left: 286px;
    top: 1131px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    border-radius: 21.3671px;
}

.vision__email-text {
    max-width: 372px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
    position: absolute;
    width: 375px;
    height: 123px;
    left: 51px;
    top: 65px;
}

.vision__email-link {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    text-decoration-line: underline;
    color: #FFFFFF;
    position: absolute;
    left: 51px;
    top: 245px;
}

.vision__login {
    position: absolute;
    width: 503px;
    height: 312px;
    left: 1140px;
    top: 1131px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    border-radius: 21.371px;
}

.vision__login-text {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    position: absolute;
    width: 325px;
    height: 46.22px;
    left: 10%;
    top: 65px;
}

.vision_login-log {
    position: absolute;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    text-decoration-line: underline;
    color: #FFFFFF;
    left: 51px;
    top: 145px;
}

.vision__phone-pic {
    position: absolute;
    top: 1535px;
}

.vision__main-text-h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 51px;
    line-height: 62px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
    position: absolute;
    width: 358px;
    height: 124px;
    left: 1140px;
    top: 1740px;
}

.vision__text-blur {
    background: #F101BF;
    opacity: 0.7;
    filter: blur(100px);
    position: absolute;
    width: 85px;
    height: 85px;
    left: 1116px;
    top: 1686px;
}

.vision__scnd-text {
    max-width: 315px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
    position: absolute;
    width: 315px;
    height: 175px;
    left: 1146px;
    top: 1899px;
}

.scanner__background-img {
    position: absolute;
    width: 1920px;
    height: 1050px;
    left: 1px;
    top: 2495px;
    background: no-repeat;
}

.scanner__background {
    position: absolute;
    width: 1920px;
    height: 1050px;
    left: 0px;
    top: 2495px;
    background: linear-gradient(179.83deg, #000000 -3.1%, rgba(0, 0, 0, 0) 56.76%, #000000 83.92%);
}

.scanner {
    background: no-repeat;
}

.scanner__phone1 {
    position: absolute;
    width: 332.56px;
    height: 667.15px;
    left: 240px;
    top: 3050px;
}

.scanner__phone2 {
    position: absolute;
    width: 332.56px;
    height: 667.15px;
    left: 740px;
    top: 3050px;
}

.scanner__text-main {
    position: absolute;
    width: 400px;
    height: 62px;
    left: 1243px;
    top: 3424px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 51px;
    line-height: 62px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
}

.scanner__text-scnd {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
    position: absolute;
    width: 316px;
    height: 125px;
    left: 1243px;
    top: 3500px;
}